body {
    min-width: 320px;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

.navbar-brand {
    font-weight: 500;
    line-height: 36px;
    font-size: 36px;
    text-transform: uppercase;
    margin: auto;
    margin-left: 10px;
}

.navbar-nav {
    margin-left: 100px;
}

.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #b5d3d3;
    transform: scale(0);
    transition: all .3s;
}

.nav-link:hover::after {
    transform: scale(1);
}

.pos-f-t {
    display: block;
}

.category,
.post-title {
    margin: 30px 0;
}

.category a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.category a:hover{
    color: #3b8787;
    text-decoration: underline #3b8787;
    transition: all .3s;
}

.post-title a {
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-decoration: none;
    color: black;
}

.link-more {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.link-more:hover {
    color: #3b8787;
    text-decoration: underline #3b8787;
    transition: all .3s;
}

.single-post {
    margin-bottom: 50px;
}

.grid {
    margin-bottom: 100px;
    margin-top: 100px;
}

.grid .card {
    border: 0;
    margin-bottom: 100px;
}

.grid .card-body {
    padding-left: 0;
    padding-right: 0;
}

.grid .card-img-top {
    max-height: 360px;
}

.load-more {
    border-radius: 0;
    padding: 1rem 2rem;
}

.load-more span {
    display: none;
}

.subscribe {
    background-color: #e9f2f1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.subscribe h3 {
    margin-bottom: 30px;
}

.form-control {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;

}

.form-control::placeholder {
    font-size: 20px;
}

.form-control:focus {
    box-shadow: none;
    background-color: transparent;
}

.form-control {
    position: relative;
}

.form-input .btn {
    position: absolute;
    right: 0;
    top: -10px;
    font-size: 25px;
    color: black;
}

.social-buttons {
    list-style: none;
}

.social-buttons li {
    display: inline-block;
    padding-right: 20px;
}

.social-buttons i:hover {
    color: #3b8787;
}

footer {
    background-color: #e9f2f1;
    padding: 30px 0;
}

.footer-right a {
    padding-right: 20px;
    text-decoration: none;
}

.footer-right a:hover {
    color: #3b8787;
    text-decoration: underline #3b8787;
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-left: 20px;
    }

    .navbar-brand {
        line-height: 20px;
        font-size: 20px;
    }

    .search-form {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .grid .card-img-top {
        max-height: 220px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .grid .card-img-top {
        max-height: 300px;
    }
}